body{
    background-color: grey;
    

}

h1{
    text-shadow: 15px;
    font-size:55px;

}

ol{
    font-style: italic;
}

.wiki{
    color: black;
}

.bla1{
    font-weight: bold;
    border: black ;
    border-style: solid;
    padding:10px;
    
}

h2{
    font-style: italic;
    font-weight: bold;
}

.képi{
    height: 230%;
    width: 230%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.hilihali{
    border: black;
    border-style: solid;
    border-collapse: collapse;
    margin-bottom: 100px;
    
    
}

h3{
    margin-left: 50px;
}
ol,ul,table{
    margin-left: 50px
}

ol{
    list-style-type: square;
}

table{
    font-size: 18px;
    font-style: inherit;
}

table, table tr, table th {
    border: 3px solid black;
}

.ulala{
    font-size: 20px;
}